.button-link {
  width: 100%;
  text-align: left;
}

.app-content {
  padding-top: 170px;
}

.capitalize {
  text-transform: capitalize;
}

.divider {
  height: 100%;
  width: 2px;
  margin: 32px;
  background-color: #ededed;
}